    openapi: 3.0.0
    info:
      title: MEKKO API
      description: Multi-Edge / Multi-Cloud Application and Service Orchestration API
      version: "2.0"
    servers:
      - url: http://mekko.intel.com/v2
        description: MEKKO API Validation Server
    paths:
      /projects:
        post:
          summary: Create a new project
          description: Create a new MEKKO project that hosts all the resources associated with a composite application or service that is deployale
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name: 
                      type: string
                      description: Name of the project
                    description: 
                      type: string
                      description: Description of the project
                  required:
                    - name
                    - description
          responses:
            '201':
              description: New project was created
              content:
                application/json:
                  schema:
                      type: string
                      description: Name of the project
        get:
          summary: Returns a list of projects
          description: Returns a list of MEKKO projects that have been previously created
          responses:
            '200':
              description: A JSON array of MEKKO project names
              content:
                application/json:
                  schema: 
                    type: object
                    properties:
                      items: 
                        type: string
                        description: Name of the project
                      description: 
                        type: string
                        description: Description of the project
      /projects/{project-name}:
        parameters:
        - in: path
          name: project-name
          description: Project Name
          required: true
          schema:
            type: string
        get:
          summary: Returns a project description by *name*
          description: Returns a list of MEKKO projects that have been previously created
          operationId: getProjectByName
         
          responses:
            '200':    # status code
              description: A JSON array of MEKKO project names
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the project
                        description: 
                          type: string
                          description: Description of the project
        delete:
          summary: Delete a project
          description: Deleting a MEKKO project and all of its associated resources.
          responses:
             '204':
              description: Project and the associated resources were deleted
        put:
          summary: Modify the description of a project
          description: Modify the description of a project
          responses:
             '200':
              description: The project description was updated 
      /projects/{project-name}/apps:
        parameters:
        - in: path
          name: project-name
          description: Project Name
          required: true
          schema:
            type: string
        post:
          summary: Create a new application
          description: Create a new composite application under an exitig MEKKO project indicated by {project-name}
          requestBody:
            required: true
            content:
              applicaton/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of th application
                    description:
                      type: string
                      description: A description of the application
                    version:
                      type: string
                      description: The version of the application
                  required:
                    - name 
                    - version
          responses:
            '201':
              description: The application was created
              content:
                applicaton/json:
                  schema:
                    type: string
                    description: The name of the application
        get:
          summary: Retrieves all applications under a MEKKO project
          description: Retrieves all of the composite-applicatons that have been creted under the project indicated by {project-name}
          responses:
            '200':    # status code
              description: A JSON array of applications
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the applcaton
                        description: 
                          type: string
                          description: Description of the application
                        version: 
                          type: string
                          description: The version of the applicaton
      /projects/{project-name}/apps/{app-name}/{version}:
        parameters: 
        - in: path
          name: project-name
          description: Project name
          required: true
          schema:
            type: string
        - in: path
          name: app-name
          description: Application name
          required: true
          schema: 
            type: string
        - in: path
          name: version
          description: Application version
          required: true
          schema:
            type: string
        get:
          summary: Retrieves information about a specific application
          description: Retrieves specific informaion about a composite-application created uder the project indicated by {project-name}
          responses:
            '200':
              description: Information about a specific application
              content:
                application/json:
                  schema:
                    items:
                      type: object
                      properties:
                        name: 
                          type: string
                          description: Name of the application
                        descrition:
                          type: string
                          description: Description of the application
                        version:
                          type: string
                          description: The version of the application
        delete:
          summary: Deletes an application
          description: Deletes a specific application based on its version under a project
        
          responses:
            '204':
              description: The application was deleted
        put:
          summary: Updates an application
          description: Updates the information / metadata about a specific application created under a project indicates by {project-name}
          responses:
            '200':
              description: The application was updated
      /projects/{project-name}/apps/{app-name}/{version}/apps:
        parameters: 
        - in: path
          name: project-name
          description: Project name
          required: true
          schema:
            type: string
        - in: path
          name: app-name
          description: Application name
          required: true
          schema: 
            type: string
        - in: path
          name: version
          description: Application version
          required: true
          schema:
            type: string
        post:
          summary: Create a new sub-application
          description: Create a new sub-applicaiton under an exitig application indicated by {app-name} and attach the associated Helm chart for the application
          requestBody:
            required: true
            content:
              multipart/form-data:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the sub-application
                    description:
                      type: string
                      description: A description of the sub-application
                    file:
                      type: string
                      format: binary
                  required:
                    - name 
                    - description
                    - file
          responses:
            '201':
              description: The sub-application was created
              content:
                applicaton/json:
                  schema:
                    type: string
                    description: The name of the application
        get:
          summary: Retrieves a sub-application 
          description: Retrieves an existing sub-application under an existing application indicated by {app-name} and fetches the associated Helm chart for the sub-application
          responses:
            '200':
              description: Information about a specific application
              content:
                multipart/form-data:
                  schema:
                    type: object
                    properties:
                      name: 
                        type: string
                        description: Name of the sub-application
                      descrition:
                        type: string
                        description: Description of the application
                      file:
                        type: string
                        format: binary
                    required:
                    - name
                    - description
                    - file
        delete:
          summary: Deletes a sub-application
          description: Deletes a sub-application under an existing application indicated by {app-name} and the associated Helm chart.
          responses:
            '204':
              description: Sub-application was deleted
                