    openapi: 3.0.0
    info:
      title: MEKKO API
      description: Multi-Edge / Multi-Cloud Application and Service Orchestration API
      version: "2.0"
    servers:
      - url: http://mekko.intel.com/v2
        description: MEKKO API Validation Server
    paths:
      /projects:
        post:
          summary: Creates a new project
          description: Create a new MEKKO project that hosts all the resources associated with a composite application or service that is deployale
          tags:
            - Project Management API
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name: 
                      type: string
                      description: Name of the project
                    description: 
                      type: string
                      description: Description of the project
                  required:
                    - name
                    - description
          responses:
            '201':
              description: New project was created
              content:
                application/json:
                  schema:
                      type: string
                      description: Name of the project
        get:
          summary: Returns a list of projects
          description: Returns a list of MEKKO projects that have been previously created
          responses:
            '200':
              description: A JSON array of MEKKO project names
              content:
                application/json:
                  schema: 
                    type: object
                    properties:
                      items: 
                        type: string
                        description: Name of the project
                      description: 
                        type: string
                        description: Description of the project
      /projects/{project-name}:
        parameters:
        - in: path
          name: project-name
          description: Project Name
          required: true
          schema:
            type: string
        get:
          summary: Returns a project description by *name*
          description: Return a list of MEKKO projects that have been previously created
          operationId: getProjectByName
          tags:
            - Project Management API
          responses:
            '200':    # status code
              description: A JSON array of MEKKO project names
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the project
                        description: 
                          type: string
                          description: Description of the project
        delete:
          summary: Deletes a project
          description: Delete a MEKKO project and all of its associated resources.
          tags:
            - Project Management API
          responses:
             '204':
              description: Project and the associated resources were deleted
        put:
          summary: Modifies the description of a project
          description: Modify the description of a project
          tags:
            - Project Management API
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    description: 
                      type: string
                      description: Description of the project
                  required:
                    - description
          responses:
             '200':
              description: The project description was updated 
      /projects/{project-name}/apps:
        parameters:
        - in: path
          name: project-name
          description: Project Name
          required: true
          schema:
            type: string
        post:
          summary: Creates a new application under a *project*
          description: Create a new composite application under an exitig MEKKO project indicated by *project-name*
          tags:
            - Composite Application Management API
          requestBody:
            required: true
            content:
              applicaton/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the application
                    description:
                      type: string
                      description: A description of the application
                    version:
                      type: string
                      description: The version of the application
                  required:
                    - name 
                    - version
          responses:
            '201':
              description: The application was created
              content:
                applicaton/json:
                  schema:
                    type: string
                    description: The name of the application
        get:
          summary: Retrieves list of all applications under a MEKKO project
          description: Retrieve all of the composite-applicatons that have been creted under the project identified by *project-name*
          tags:
            - Composite Application Management API
          responses:
            '200':    # status code
              description: A JSON array of applications
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the applicaton
                        description: 
                          type: string
                          description: Description of the application
                        version: 
                          type: string
                          description: The version of the applicaton
      /projects/{project-name}/apps/{app-name}/{version}:
        parameters: 
        - in: path
          name: project-name
          description: Project name
          required: true
          schema:
            type: string
        - in: path
          name: app-name
          description: Application name
          required: true
          schema: 
            type: string
        - in: path
          name: version
          description: Application version
          required: true
          schema:
            type: string
        get:
          summary: Retrieves information about a specific application
          description: Retrieve specific information about a composite-application created under the project indicated by *project-name*
          tags:
            - Composite Application Management API
          responses:
            '200':
              description: Information about a specific application
              content:
                application/json:
                  schema:
                    items:
                      type: object
                      properties:
                        name: 
                          type: string
                          description: Name of the application
                        descrition:
                          type: string
                          description: Description of the application
                        version:
                          type: string
                          description: The version of the application
        delete:
          summary: Deletes an application
          description: Delete a specific *version* of an application (*app-name*) under a project *(project-name)*
          tags:
            - Composite Application Management API
          responses:
            '204':
              description: The version of the application was deleted
        put:
          summary: Updates an application
          description: Update the information / metadata about a specific application created under a project indicates by *project-name*
          tags:
            - Composite Application Management API
          responses:
            '200':
              description: The application was updated
      /projects/{project-name}/apps/{app-name}/{version}/subapps:
        parameters: 
        - in: path
          name: project-name
          description: Project name
          required: true
          schema:
            type: string
        - in: path
          name: app-name
          description: Application name
          required: true
          schema: 
            type: string
        - in: path
          name: version
          description: Application version
          required: true
          schema:
            type: string
        post:
          summary: Creates a new sub-application or service under an MEKKO application
          description: Create a new sub-application or service under an existing application indicated by {app-name} and attach the associated Helm chart to it
          tags:
            - Sub-Application Management API
          requestBody:
            required: true
            content:
              multipart/form-data:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the sub-application
                    description:
                      type: string
                      description: A description of the sub-application
                    file:
                      type: string
                      format: binary
                  required:
                    - name 
                    - description
                    - file
          responses:
            '201':
              description: The sub-application was created
              content:
                applicaton/json:
                  schema:
                    type: string
                    description: The name of the application
        get:
          summary: Retrieves the list of all the sub-applications
          description: Retrieves the list of all sub-applications under an existing application indicated by {app-name}. The associated Helm chart can be retrieved by operating on the specific sub-application resource.
          tags:
            - Sub-Application Management API
          responses:
            '201':
              description: The sub-application name
              content:
                application/json:
                  schema:
                    type: string
                    description: The name of the sub-application
      /projects/{project-name}/apps/{app-name}/{version}/subapps/{subapp-name}:
        parameters: 
        - in: path
          name: project-name
          description: Project name
          required: true
          schema:
            type: string
        - in: path
          name: app-name
          description: Application name
          required: true
          schema: 
            type: string
        - in: path
          name: version
          description: Application version
          required: true
          schema:
            type: string
        - in: path
          name: subapp-name
          description: Subapplication name
          required: true
          schema:
            type: string
        get:
          summary: Retrieve the information associated to a sub-application 
          description: Retrieves an existing sub-application under an existing application indicated by {app-name} and fetches the associated Helm chart for the sub-application
          tags:
            - Sub-Application Management API
          responses:
            '200':
              description: Information about a specific application
              content:
                multipart/form-data:
                  schema:
                    type: object
                    properties:
                      name: 
                        type: string
                        description: Name of the sub-application
                      descrition:
                        type: string
                        description: Description of the application
                      file:
                        type: string
                        format: binary
        delete:
          summary: Deletes a sub-application
          description: Deletes a sub-application under an existing application indicated by {app-name} and the associated Helm chart.
          tags:
            - Sub-Application Management API
          responses:
            '204':
              description: Sub-application was deleted
      /projects/{project-name}/apps/{app-name}/{version}/generic-placement-intents:
        parameters: 
        - in: path
          name: project-name
          description: Project name
          required: true
          schema:
            type: string
        - in: path
          name: app-name
          description: Application name
          required: true
          schema: 
            type: string
        - in: path
          name: version
          description: Application version
          required: true
          schema:
            type: string
        post:
          summary: Create a generic placement intent 
          description: Creates a generic placement intent resource for the application. Once created, specific placement intents for the sub-applications can be defined
          tags:
            - Generic Placement Intents API
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the generic placement intent 
                    description:
                      type: string
                      description: A description of the generic placement intent 
                    logicalcloud:
                      type: string
                      format: The name of the logical cloud for the instantiation
                  required:
                    - name 
                    - description
          responses:
            '201':
              description: The sub-application was created
              content:
                applicaton/json:
                  schema:
                    type: string
                    description: The name of the application
        get:
          summary: Retrieves the placement intents.
          description: Retrieves all the names of the generic placement intents
          tags:
            - Generic Placement Intents API
          responses:
            '200':
              description: A JSON array of all the generic placement intents 
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the generic placement intent
                        description:
                          type: string
                          description: A description of the generic placement intent
